<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <script>

    </script>
    <!-- 新 Bootstrap 核心 CSS 文件 -->
    <link href="https://cdn.bootcss.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet">

    <!-- 可选的Bootstrap主题文件（一般不使用） -->
    <script src="https://cdn.bootcss.com/bootstrap/3.3.7/css/bootstrap-theme.min.css"></script>

    <!-- jQuery文件。务必在bootstrap.min.js 之前引入 -->
    <script src="https://cdn.bootcss.com/jquery/2.1.1/jquery.min.js"></script>

    <!-- 最新的 Bootstrap 核心 JavaScript 文件 -->
    <script src="https://cdn.bootcss.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <title>Title</title>
    <script>
        $(function () {
            $("#subBtn").click(function () {
                $.ajax({
                    type:"POST",
                    url:"/register/regist",
                    data:$("#userMessage").serialize(),
                    success:function (data) {
                       if (data.success){
                           alert(data.msg);
                       }else
                           alert(data.msg);
                    }
                });
            })
        })

    </script>

</head>
<body >
<div class="container">
    <div class="row clearfix">
        <div class="col-md-12 column">
            <nav class="navbar navbar-default" role="navigation">
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1"> <span class="sr-only">Toggle navigation</span><span class="icon-bar"></span><span class="icon-bar"></span><span class="icon-bar"></span></button> <a class="navbar-brand" href="#">背包出行</a>
                </div>
            </nav>
        </div>
    </div>
    <div class="row clearfix">
        <div class="col-md-6 column">
            <form role="form" id="userMessage" action="/register/regist" method="post" enctype="multipart/form-data">
                <div class="form-group">
                    <label for="username">姓名</label>
                    <input class="form-control" id="username" name="username" type="text" />
                </div>
                <div class="form-group">
                    <label for="email">邮箱</label>
                    <input class="form-control" id="email" name="email"  type="email" />
                </div>
                <div class="form-group">
                    <label for="birthday">出生年月</label>
                    <input class="form-control" id="birthday" name="birthday"  type="date" />
                </div>
                <div class="form-group">
                    <label for="age">年龄</label>
                    <input class="form-control" id="age" name="age"  type="text" />
                </div>
                <div class="form-group">
                    <label for="address">详细地址</label>
                    <input class="form-control" id="address" name="address"  type="text" />
                </div>
                <div class="form-group">
                    <label for="password">密码</label>
                    <input class="form-control" id="password" name="password"  type="password" />
                </div>
                <input  type="button" class="btn btn-default" value="提交" id="subBtn"/>
            </form>
        </div>
        <div class="col-md-6 column"  style="background: #e1e3e3">
            <div>
                <h2>注册</h2>
                <br>
                请认真填写您的注册信息<br>
                特别是您的邮箱<br>
                注册成功后我们将发送邮件到您的邮箱<br>
                告知您的账号并要求您激活账号<br>
                账号激活之后就可以在“背包出行”使用啦<br>
            </div>
        </div>
    </div>
    <div class="row clearfix">
        <div class="col-md-12 column">

        </div>
    </div>
</div>
</body>
</html>