<!DOCTYPE html>
<html lang="en">
<head>
    <!-- jQuery文件。务必在bootstrap.min.js 之前引入 -->
    <script src="https://cdn.bootcss.com/jquery/2.1.1/jquery.min.js"></script>
    <script>
        $(function () {
            $("#backlogin").click(function () {
                window.location.href="/index";
            })
        })
    </script>
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>login</title>
    <link rel="stylesheet" type="text/css" href="../static/css/normalize.css" />
    <link rel="stylesheet" type="text/css" href="../static/css/demo.css" />
    <!--必要样式-->
    <link rel="stylesheet" type="text/css" href="../static/css/component.css" />
    <!--[if IE]>
    <script src="../staticjs/html5.js"></script>
    <![endif]-->
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<div class="container demo-1">
    <div class="content">
        <div id="large-header" class="large-header">
            <canvas id="demo-canvas"></canvas>
            <div class="logo_box">
                <h3>“背包出行”路线制作人</h3>
                <h3 style="font-family: 华文行楷">制作人申请失败</h3>
                <a id="backlogin">返回</a>
            </div>
        </div>
    </div>
</div><!-- /container -->
<script src="../static/js/TweenLite.min.js"></script>
<script src="../static/js/EasePack.min.js"></script>
<script src="../static/js/rAF.js"></script>
<script src="../static/js/demo-1.js"></script>
</body>
</html>